body {
    background: #222;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 20px auto 0;
    border-radius: 20px;
    padding: 20px 15px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 15px;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 16px;
    font-size: 14px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.search button img {
    width: 12px;
}

.weather-icon {
    width: 100px;
    margin-top: 20px;
}

.weather h1 {
    font-size: 40px;
    font-weight: 500;
}

.weather h2 {
    font-size: 24px;
    font-weight: 400;
    margin-top: -5px;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    margin-top: 20px;
}

.col {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.col img {
    width: 30px;
    margin-right: 5px;
}

.humidity,
.wind {
    font-size: 16px;
    margin-top: -4px;
}

.weather {
    display: none;
}

.error {
    text-align: center;
    margin: 10px 0;
    font-size: 12px;
    display: none;
}

@media only screen and (min-width: 600px) {
    .search {
        flex-direction: row;
    }

    .search input {
        flex: 1;
        margin-bottom: 0;
        margin-right: 10px;
    }

    .search button {
        width: 50px;
        height: 50px;
    }

    .col {
        text-align: left;
    }
}
